<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grain.teacher.mapper.EduCourseMapper">

    <select id="getMapById" parameterType="String" resultType="map">
        select
        et.`name` as teacherName,
        ec.id,
        ec.cover,
        ec.lesson_num as lessonNum,
        ec.title,
        CONVERT(ec.price, DECIMAL(8,2)) as price ,
        es1.title as subjectParentTitle,
        es2.title as subjectTitle

        from edu_course ec
        LEFT JOIN edu_teacher et on ec.teacher_id = et.id
        LEFT JOIN edu_subject es1 on ec.subject_parent_id = es1.id
        LEFT JOIN edu_subject es2 on ec.subject_id = es2.id
        where ec.id = #{id}
    </select>

    <select id="getMapByIdFront" parameterType="String" resultType="map">
      SELECT
        c.id,
        c.title,
        c.cover,
        CONVERT(c.price, DECIMAL(8,2)) AS price,
        c.lesson_num AS lessonNum,
        c.cover,
        c.buy_count AS buyCount,
        c.view_count AS viewCount,
        cd.description,

        t.id AS teacherId,
        t.name AS teacherName,
        t.intro,
        t.avatar,

        s1.id AS subjectLevelOneId,
        s1.title AS subjectLevelOne,
        s2.id AS subjectLevelTwoId,
        s2.title AS subjectLevelTwo

      FROM
        edu_course c
        LEFT JOIN edu_course_description cd ON c.id = cd.id
        LEFT JOIN edu_teacher t ON c.teacher_id = t.id
        LEFT JOIN edu_subject s1 ON c.subject_parent_id = s1.id
        LEFT JOIN edu_subject s2 ON c.subject_id = s2.id
      WHERE
        c.id = #{id}
    </select>
</mapper>
